.wrapper {
  display: flex;
  justify-content: center;

  &:first-child {
    margin-top: 10%;
  }

  form {
    display: inherit;
    justify-content: center;
    width: 100%;
  }

  input, .shortened-url {
    width: 60%;
    padding: 15px 10px;
    border: 1px solid #F16534;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    font-size: 14px;
    color: #F16534;
  }

  .btn-shorten, .btn-copy {
    border: 1px solid #F16534;
    border-radius: 0 5px 5px 0;
    background-image: linear-gradient(-111deg, #F16534 4%, #ED3535 100%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 10%;
    min-width: 80px;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
  }

  .input-hint {
    width: 70%;
    margin-top: 20px;

    a {
      color: #9B9B9B;
      text-decoration: none;
    }
  }

  img.reset {
    margin: 0 10px 0 -24px;
    cursor: pointer;
  }
}
